.footer {
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mQ('tablet'){
    font-size: $text;
  }

  @include mQ('desktop') {
    flex: 1;
    flex-direction: row;
  }

  &__social-link {
    display: block;
    position: relative;
    word-spacing: 5px;
    padding-left: $gutter;
    color: $white;
    text-transform: uppercase;
    font-size: $text_mobile_medium;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;


    &:visited {
      color: $white;
    }
  }

  &__social-icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);

    @include mQ('desktop') {
      width: 19px;
      height: 19px;
    }
  }
}