.navigation {
  display: flex;
  position: relative;
  z-index: $on_top;
  padding: $gutter 0 0;
  width: 100%;
  height: $navigation_height + $gutter;
  justify-content: space-between;

  @include mQ('desktop') {
    position: static;
    align-items: center;
    height: initial;
    padding: 1.5 * $gutter 2 * $gutter;
  }

  &__logo {
    position: absolute;
    z-index: $on_top;
    left: 50%;
    width: $logo_width_mobile;
    max-height: $navigation_height;
    transform: translateX(-50%);

    @include mQ('desktop') {
      position: static;
      flex-direction: row;
      max-width: $logo_width;
      max-height: 2 * $navigation_height;
      padding: 0;
      background-color: transparent;
      transform: none;
    }
  }

  &__logo-element {
    fill: $white;
  }

  &__hamburger {
    position: absolute;
    z-index: $on_top;
    right: $gutter;
    width: $navigation_height;
    cursor: pointer;

    @include mQ('desktop') {
      display: none;
    }
  }

  &__hamburger-element {
    fill: $white;
    transition: all .4s ease-out .1s;
  }

  &__list {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: $full_window;
    width: 100%;
    padding: 0 2 * $gutter;
    padding-top: $navigation_height + $gutter;
    padding-bottom: $gutter;
    opacity: 0;
    transform: translateY(-100%);
    background-color: $dark_blue;
    transition:
      opacity .3s ease-in,
      transform .01s ease 1s;

    @include mQ('mobile-wide') {
      padding-left: 30%;
      padding-right: 30%;
    }

    @include mQ('tablet') {
      padding-left: 35%;
      padding-right: 35%;
    }

    @include mQ('desktop') {
      position: static;
      flex-direction: row;
      height: auto;
      width: initial;
      padding: 0;
      opacity: 1;
      background-color: transparent;
      transform: none;
    }
  }

  &__list-item {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-350%);
    transition: transform .4s ease-in-out .3s;

    @include mQ('desktop') {
      display: block;
      flex-grow: initial;
      transform: translateX(0);
    }
  }

  &__item-link {
    display: inline-block;
    position: relative;
    flex: 1 1 100%;
    padding: $gutter/3 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    @include mQ('desktop') {
      flex: initial;
      margin: 0 $gutter;
      font-size: $text_small;
      font-weight: 600;
    }

    @include mQ('desktop-wide') {
      font-size: $text;
      font-weight: 600;
    }

    &:hover {

      .navigation__item-border {
        width: 50%;
      }
    }

    &--secondary {
      border-radius: 5px;
      border: 3px solid $white;

      @include mQ('desktop') {
        padding: $gutter/3 $gutter;
      }

      &:hover {
        background-color: $white;
        color: $dark_blue;
        font-weight: 600;
      }
    }

    &--socials {

      @include mQ('desktop') {
        display: none;
      }
    }
  }

  &__item-border {
    position: absolute;
    overflow: hidden;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: $white;
    border-radius: 1px;
    width: 0%;
    transition: width .3s cubic-bezier(0.075, 0.82, 0.165, 1) .15s;

    @include mQ('desktop-wide') {
      height: 3px;
    }
  }

  &__social-icon {
    width: 24px;
  }
}