.container{

  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding-bottom: 2*$bottom_triangle;
  background:
    linear-gradient(
      rgba( 0, 0, 0, .4),
      rgba( 0, 0, 0, .4)
    ),
    url(/images/bg_image.jpg)
    61% 40% / 370%
    no-repeat
    fixed;
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-weight: 200;
  color: $font_white;

  &__inner{

    display: flex;
    padding: 0 $gutter;
  }
}